<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="../public/images/portal.png">
  <link rel="stylesheet" href="../public/style/style.css" type="text/css" />
  <title>Point Update X.</title>
</head>
<body id="page{{version}}">
  <h1 id="page{{version}}">Point Update {{version}}.</h1>
  <p>
    {{body}}
  </p>
  <h2 id="page{{version}}">
    <a href="./1" id="page{{version}}">../1</a>
    <a href="./2" id="page{{version}}">../2</a>
    <a href="./3" id="page{{version}}">../3</a>
    <a href="./4" id="page{{version}}">../4</a>
    <a href="./5" id="page{{version}}">../5</a>
    <a href="./6" id="page{{version}}">../6</a>
  </h2>
</body>
</html>
